{% extends 'main.html' %}

{% load django_hide %}

{% load static %}

{% block media %}
    
    <div class="pic">
        <div class="update-profile">
            <a href="#"><button>update Profile information</button></a>
        </div>
        <img src="{{users.avatar.url}}" alt="">
        <div>
            <h1>{{users.full_name}}</h1>
            <p>{{users.specialty}}</p>
        </div>
        <div class="abut">
            <h3>Abut me</h3>
            <p>{{users.bio}}</p>
        </div>
        <div class="send-massage">
            <a href="#"><button>Send Massage</button></a>
        </div>
        <br>
        <div class="social-media">
            
            {% if users.github or users.twitter or users.linkedin or users.instagram or users.telegram or users.website %}
                <h3>Social Media</h3>
            {% endif %}
                
            {% if users.github %}
                <a href="https://github.com/{{users.github}}" target="_blank"><img src="{% static 'socialmedia/github.png' %}" alt="Github"></a>
            {% endif %}

            {% if users.twitter %}
                <a href="https://twitter.com/{{users.twitter}}" target="_blank"><img src="{% static 'socialmedia/twitter.png' %}" alt="Twitter"></a>
            {% endif %}

            {% if users.linkedin %}
                <a href="https://www.linkedin.com/{{users.linkedin}}" target="_blank"><img src="{% static 'socialmedia/linkedin.png' %}" alt="Linkedin"></a>
            {% endif %}

            {% if users.instagram %}
                <a href="https://www.instagram.com/{{users.instagram}}" target="_blank"><img src="{% static 'socialmedia/instagram.png' %}" alt="Instagram"></a>
            {% endif %}

            {% if users.telegram %}
                <a href="https://t.me/{{users.telegram}}" target="_blank"><img src="{% static 'socialmedia/telegram.png' %}" alt="Telegram"></a>
            {% endif %}

            {% if users.website %}
                <a href="https://{{users.website}}" target="_blank"><img src="{% static 'socialmedia/global.png' %}" alt="Global"></a>
            {% endif %}
        </div>
    </div>
    
    {% if top_skill or other_skill %}
    <div class="flash">
        <img src="{% static 'flash/right-down.png' %}">
    </div>
    
    <div class="skills">
        
        {% if top_skill %}
        <div class="skill-top">
            <h2>Top Skill</h2>
                {% for top in top_skill %}
                <div class="skill-card">
                    <h3>#{{top.label}}</h3>
                    <p>{{top.description}}</p>
                    <!-- Delete object -->
                    <div class="add-profile bottom-social delete-profile">
                        <a href="#"><button class="delete-ink">Delete Skill</button></a>
                    </div>
                </div>
                {% endfor %}
        </div>
        <!-- Add Top Skill -->
        <div class="add-profile">
            <a href="#"><button>Add Top Skill</button></a>
        </div>
        {% endif %}
        
        {% if other_skill %}
        <div class="other_skill">
            <h2>Other Skill</h2>
            <div class="other-card">
                {% for other in other_skill %}
                <div class="skill-card-other">
                    <h3>#{{other.label}}</h3>
                    <!-- Delete object -->
                    <div class="add-profile bottom-social delete-profile">
                        <a href="#"><button class="delete-ink">Delete Skill</button></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Add Other Skill -->
        <div class="add-profile bottom-skill">
            <a href="#"><button>Add Other Skill</button></a>
        </div> 
        {% endif %}
    
    </div>

    {% else %}
    <!-- Add Top Skill -->
    <div class="add-profile">
        <a href="#"><button>Add Top Skill</button></a>
    </div>

    <!-- Add Other Skill -->
    <div class="add-profile bottom-skill">
        <a href="#"><button>Add Other Skill</button></a>
    </div> 
    {% endif %}



    {% if users.essay_set.all %}
        <div class="flash">
            <img src="{% static 'flash/left-down.png' %}" class="left-down">
        </div>
        <!-- Add Essay -->
        <div class="add-profile">
            <a href="#"><button>Add Essay</button></a>
        </div>
        <div class="box-essay essay-card">
        {% for esy in users.essay_set.all %}
            <div class="box essay-box">
                <div class="img-card">
                    <a href="{% url 'view-essay' esy.slug %}"><img src="{{esy.upload_image.url}}"></a>
                </div>
                <div class="title-card">
                    <a href="{% url 'view-essay' esy.slug %}" target="_blank" >{{esy.title}}</a>
                </div>
                <div class="tag-card">
                    
                    {% for tag in esy.tag.all%}
                        {% if forloop.counter <= 3 %}
                            <button>
                                #{{tag}}
                            </button>
                        {% endif %}
                    {% endfor %}
                        
                </div>

                <div class="Written">
                    <a href="#" target="_blank"><button class="bottom-delete delete-ink">Delete Essay</button></a>
                </div>
                
                
            </div>
            
        {% endfor %}
        </div>
    {% else %}
    <!-- Add Essay -->
    <div class="add-profile">
        <a href="#"><button>Add Essay</button></a>
    </div>
    {% endif %}

{% endblock media %}
    