{% extends 'main.html' %}

{% load django_hide %}

{% load static %}

{% block media %}
    <link rel="stylesheet" href="{% static 'style/form.css' %}">

    <form action="" method="post" enctype="multipart/form-data" class="form-data">
        
        {% csrf_token %}
        {% h_csrf_token %}
        {% for field in form %}
            <div class="form-ship">
                <h2>{{field.label}}:</h2>
                {{field}} <br>

                {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
                {% endfor %}
                
            </div>
        {% endfor %}


        <input type="submit" value="Submit" id="submit-form">
    </form>
    
        
{% endblock media %}