{% extends 'main.html' %}

{% load django_hide %}


{% block media %}


{% if users %}
<section>
    <div class="box-essay">
        {% for user in users %}
            <div class="box">
                <div class="img-card img-user img-ted">
                    <a href="{% url 'profile-username' user.username %}"><img src="{{user.avatar.url}}"></a>
                </div>
                <div class="title-card">
                    <a href="{% url 'profile-username' user.username %}" target="_blank" >{{user.full_name}}</a>
                </div>
                <div class="bio">
                    {% if user.bio  %}
                        <p>{{user.bio|slice:"65"}} ...</p>
                    {% endif %}
                </div>
                <div class="Written">
                    <p>{{user.specialty}}</p>
                </div>
                
            </div>
        {% endfor %}
    </div>
</section>

{% include 'pagination.html' %}

{% endif %}
        
{% endblock media %}
    