{% extends 'main.html' %}

{% load django_hide %}

{% block media %}
    <table>
        <tr>
            <th>title</th>
            <th>total vote</th>
            <th>positive vote</th>
            <th>created</th>
        
            {% for esy in essay %}
                <tr>
                    <td>{{esy.title}}</td>
                    <td>{{esy.total_vote}}</td>
                    <td>{{esy.positive_vote}}</td>
                    <td>{{esy.created}}</td>
                </tr>
            {% endfor %}
        </tr>
    </table>
    
{% endblock media %}