{% extends 'main.html' %}

{% load django_hide %}

{% block media %}
    <table>
        <tr>
            <th>title</th>
            <th>total vote</th>
            <th>positive vote</th>
            <th>created</th>
        
            {% for esy in essay %}
                <tr>
                    <td><a href="{% url 'view-essay' esy.slug %}">{{esy.title}}</a></td>
                    <td>{{esy.total_vote}}</td>
                    <td>{{esy.positive_vote}}</td>
                    <td>{{esy.created}}</td>
                    <td><a href="{% url 'update-essay' esy.slug %}">update</a></td>
                    <td><a href="{% url 'delete-essay' esy.slug %}">delete</a></td>
                </tr>
            {% endfor %}
        </tr>
    </table>
    
{% endblock media %}