{% extends 'main.html' %}

{% load django_hide %}

{% load static %}

{% block media %}

<table>
    <div class="study-logo">
        <img src="{% static 'img/learning.svg' %}">
    </div>
    
    <div class="study-text">
        <h1><span class="swd">s</span>tudy the <span class="swd">w</span>orld in <span class="swd">d</span>ifferently</h1>
        <div class="underline"></div>
        <p>
            It's time to change the world with our thoughts.
            <br>
            Share your thoughts here to create a world full of love and beauty 💎
        </p>
    </div>
</table>

<section>
    <div class="box-essay">
        {% for esy in essay %}
            <div class="box">
                <div class="img-card">
                    <img src="{{esy.upload_image.url}}">
                </div>
                <div class="title-card">
                    <a href="{% url 'view-essay' esy.slug %}" target="_blank" >{{esy.title}}</a>
                </div>
                <div class="tag-card">
                    
                    {% for tag in esy.tag.all%}
                        {% if forloop.counter <= 3 %}
                            <button>
                                {{tag}}
                            </button>
                        {% endif %}
                    {% endfor %}
                        
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<div class="pagination">
    <ul class="container">
        <li><a href="#" class="btn">&#10094; Prev</a></li>
        <li><a href="#" class="btn">01</a></li>
        <li><a href="#" class="btn">02</a></li>
        <li><a href="#" class="btn">03</a></li>
        <li><a href="#" class="btn">04</a></li>
        <li><a href="#" class="btn">05</a></li>
        <li><a href="#" class="btn">06</a></li>
        <li><a href="#" class="btn">07</a></li>
        <li><a href="#" class="btn">08</a></li>
        <li><a href="#" class="btn">09</a></li>
        <li><a href="#" class="btn">10</a></li>
        <li><a href="#" class="btn">Next &#10095;</a></li>
    </ul>
</div>

{% endblock media %}