{% extends 'main.html' %}

{% load django_hide %}

{% load static %}

{% block media %}
    <link rel="stylesheet" href="{% static 'style/view_essay.css' %}">

    <div class="info">
        <div class="img-essay">
            <img src="{{essay.upload_image.url}}">
        </div>
        <div class="title-essay">
            <h1>{{essay.title}}</h1>
        </div>
        <div class="created">
            <a href="{% url 'profile-username' essay.owner.username %}" target="_blank" >Written by {{essay.owner.username}}</a>
        </div>
        <div class="description-essay">
            <p>{{essay.description.html|safe}}</p>
            <br>
            {% if essay.source_link %}
            <a href="{{essay.source_link}}" target="_blank"><button>Source link</button></a>
            {% endif %}
            <br>
            {% if essay.demo_link %}
            <a href="{{essay.demo_link}}" target="_blank"><button>Demo link</button></a>
            {% endif %}
        </div>

        <div class="tag-essay">  
            {% for tag in essay.tag.all %}
                <button>
                    #{{tag}}
                </button>
            {% endfor %}   
        </div>

        <div class="hr-essay">
            <hr>
        </div>

        <form action="#" method="post" class="form">

            {% csrf_token %}
            {% h_csrf_token %}
    
            <h2>Feedback</h2>
            <h4>{{essay.positive_vote}}% Positive FeedBack ({{essay.total_vote}} Vote{{essay.total_vote|pluralize:'s'}})</h4>
            <div class="form_field">
                <textarea name="comment-message" id="commit-form" placeholder="Write your comments here ..."></textarea>
            </div>
            
            <input type="submit" value="Comment">
        </form>

    </div>

    {% for comment in essay.comment_set.all %}
    <div class="comment-essay">
        <a href="{% url 'profile-username' comment.owner.username %}"><img src="{{comment.owner.avatar.url}}" class="avatar-commit"></a>
        <h3>{{comment.owner}}</h3>
        <p style="grid-column: 3 / 5;">{{comment.body}}</p>
        
    </div>
    {% endfor %}
    
{% endblock media %}
    