.form{
    margin: auto;
    text-align: center;
    padding: 10px;
}

.form h2{
    color: #787a8b;
}

.form_field textarea{
    width: 80%;
    height: 112px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: #1b314c;
    color: #FFF;
    padding: 25px;
    transition: 0.5s;
}

.form_field textarea:hover{
    border-radius: 5px;
    transition: 0.5s;
}

.form input{
    width: 25%;
    background-color: #31495f;
    color: #FFF;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
    transition: 0.5s;
}

.form input:hover{
    background-color: #486b8b;
    border-radius: 5px;
    transition: 0.5s;
}


.form-data {
    margin: auto;
    width: 950px;
    height: auto;
    background-color: #1b314c;
    border-radius: 15px;
    padding: 30px;
}

.form-data input{
    background-color: #14293d;
    color: #FFF;
    border: none;
    width: 98%;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.form-data input:hover{
    border-radius: 5px;
    transition: 0.5s;
}

#id_upload_image{
    background-color: #1b314c;
}

.form-ship{
    margin-bottom: 20px;
}

.django-quill-widget-container{
    background-color: #FFF;
    color: #000;
}

#submit-form{
    text-align: center;
    width: 500px;
    padding: 10px;
}

#submit-form:hover{
    background-color: #31495f;
}

#id_tag{
    width: 100px;
}

#id_tag input{
    position: absolute;
    width: 520px;
}

#id_total_vote{
    width: 250px;
}

#id_positive_vote{
    width: 250px;
}