@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Vazirmatn:wght@600&display=swap');

body {
    font-family: 'Vazirmatn', 'Heebo', 'Kanit';
    font-weight:400;
    left: 0px;
    right: 0px;
    background-color: #14293d;
    color: #fff;
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: #74b4e9;
}

.study-logo{
    width: 30%;
    height: 30%;
    margin-left: 65%;
    position: absolute;
}

.study-text{
    margin-top: 4%;
    margin-left: 5%;
}

.study-text h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.study-text p{
    margin-top: 20%;
    font-size: 20px;
}

.swd{
    color: #A52A2A;
}

.box-essay{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 90%));
    margin: auto;
    margin-top: 5%;
    margin-left: 2%;
    padding: 1.5vw;
    position: absolute;
    width: 100%;
    height: auto;
}

.box{
    position: relative;
    display: flex;
    width: 300px;
    height: 200px;
    margin: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid red;
}

