@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Vazirmatn:wght@600&display=swap');

body {
    font-family: 'Vazirmatn', 'Heebo', 'Kanit';
    font-weight:400;
    left: 0px;
    right: 0px;
    color: #fff;
    outline:none;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-image: linear-gradient(to right,#2b3e51,#14293d);
    transition: 0.5s;
}

textarea{
    border: none;
    border-radius: 15px;
    padding: 25px;
    color: #fff;
    font-family: 'Vazirmatn', 'Heebo', 'Kanit';
    background-color: #14293d;
    width: 900px;
    height: 110px;
    outline:none;
}

p{
    word-wrap: break-word;
}

img{
    object-fit: cover;
}


input{
    outline:none
}

a{
    text-decoration: none;
    color: #74b4e9;
    transition: 0.5s;
}
a:hover{
    color: #FFF;
    transition: 0.5s;
}

input{
    color: #FFF;
}

button{
    color: #fff;
}

.study-logo{
    width: 30%;
    height: 30%;
    margin-left: 65%;
    position: absolute;
}

.study-text{
    margin-top: 4%;
    margin-left: 5%;
}

.study-text h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    margin-bottom: 5px;
}

.underline{
    width: 46%;
    height: 10px;
    margin-left: 85px;
    background-color: #ffffff;
    transition: 0.5s;
}

.study-text p{
    margin-top: 20%;
    font-size: 20px;
}

.swd{
    color: #A52A2A;
}

.box-essay{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 100%));
    margin: auto;
    margin-top: 7%;
    width: 100%;
    height: auto;
}

.box{
    position: relative;
    display: flex;
    width: 250px;
    height: 280px;
    margin-top: 100px;
    margin-left: 12%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #1b344d;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.2s;
}

.box:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: 0.2s;
}

.box img{
    position: relative;
    border-radius: 25px;
    width: 235px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 15px 33px 16px -11px #0e2338;
}


.img-card img{
    width: 200px;
}
.img-user img{
    border-radius: 50%;
    background-image: linear-gradient(
		45deg,
		#ffa95f 5%,
		#f99c4a 15%,
		#f47838 30%,
		#e75157 45%,
		#d92d7a 70%,
		#cc2a92 80%,
		#c32e92 95%
	);
    border: 5px solid #fff;
    object-fit: cover;
    width: 150px;
}
.img-card{
    margin-top: -250px;
    border-radius: 50%;
}

.title-card{
    margin-top: 10px;
    position: absolute;
    text-align: center;
    font-size: 15px;
    transition: 0.2s;
}

.title-card a:hover{
    color: #74b4e9;
    transition: 0.2s;
}

.box a{
    color: #fff;
    font-weight: 800;
}

.tag-card{
    position: absolute;
    font-size: 10px;
    margin-top: 150px;
    text-transform: lowercase;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 100%));
    width: 90%;
}

.tag-card button{
    background-color: #31495f;
    color: #FFF;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;

}

.pagination{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.container{
    display: inline-flex;
    text-align: center;
}

.container li{
    text-align: center;
    margin: auto;
    margin-right: 5px;
    width: 50px;
    list-style: none;
}
.container li a{
    text-shadow: 6px 2px 6px rgb(0, 0, 0);
    transition: 0.5s;
}
.container li a:hover{
    color: #fff;
    text-shadow: -6px 2px 6px rgb(0, 0, 0);
    transition: 0.5s;
}


.triangle-down{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 40px;
    color: #516076;
}

.Written{
    position: absolute;
    margin-top: 255px;
    font-size: 12px;
    color: #bd5757;
}

.Written a{
    color: #68a3d5;
}

.Written a:hover{
    color: #ffffff;
}

.bio{
    position: absolute;
    margin-top: 130px;
    text-align: left;
    padding: 10px;
    font-size: 10px;
    color: #a89e9e;
}

.pic{
    width: 80%;
    padding: 3%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    background-color: #253d5f;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.5s;
}

.pic:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
}

.pic img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    background-image: linear-gradient(
		45deg,
		#ffa95f 5%,
		#f99c4a 15%,
		#f47838 30%,
		#e75157 45%,
		#d92d7a 70%,
		#cc2a92 80%,
		#c32e92 95%
	);
}

.abut{
    text-align: center;
}

.social-media a{
    margin-right: 15px;
}

.social-media img{
    width: 50px;
    height: auto;
}

.send-massage button{
    background-color: #1b344d;
    border: none;
    padding: 5px 15px 5px 15px;
    width: 20%;
    border-radius: 10px;
    transition: 0.5s;
}

.send-massage button:hover{
    background-color: #31495f;
    border-radius: 5px;
    transition: 0.5s;
}

.flash{
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

.flash img{
    width: 15%;
}

.skills{
    width: 70%;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    background-color: #253d5f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.5s;
}

.skills:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
}

.skills h2{
    text-align: center;
}

.skills h3{
    color: #516076;
}

.skill-card{
    margin-bottom: 15px;
    background-color: #2e4a70;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.5s;
}

.skill-card:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
}

.skill-card-other{
    margin-bottom: 15px;
    background-color: #2e4a70;
    width: 210px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.5s;
}

.skill-card-other:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
}

.other-card h3{
    color: #fff;
}

.other-card{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 100%));
}

.essay-card{
    margin: auto;
    margin-bottom: 25px;
    margin-top: 70px;
    padding: 10px 100px;
    grid-template-columns: repeat(3, minmax(0, 80%));
}

.essay-box{
    margin-top: 25px;
    margin-bottom: 80px;
    margin-left: 5px;
}

.login{
    text-align: left;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 15px;
    background-color: #1b344d;
    width: 400px;
    height: auto;
    padding: 36px 50px;
}

.login input{
    background-color: #0e2338;
    border-radius: 10px;
    border: none;
    width: 380px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
    outline:none;
    transition: 0.5s;

}

.login h3{
    text-align: left;
    margin: 5px 0px 0px 0px;
    
}

.login h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 65px;
}
.login p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

#sub-log{
    margin-top: 10px;
    background-color: #3b82f6;
    border: 2px solid #fff;
    width: 400px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
}

#sub-log:hover{
    background-color: #1b344d;
    transition: 0.5s;
}

.top-login{
    margin-left: 180px;
}

.logo-login{
    margin: auto;
    margin-top: 2%;
    text-align: center;
    font-size: 55px;
}

#btn-login{
    border-radius: 10px;
    background-color: #0e2338;
    padding: 5px 25px;
    margin: auto;
    margin-right: 10px;
    margin-left: 50px;
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}

#btn-login:hover{
    background-color: #3b82f6;
    transition: 0.5s;
}

.messages{
    border: 2px solid #fff;
    text-align: center;
    padding: 10px 14px;
    width: 400px;
    margin: auto;
    border-radius: 15px;
    background-color: #0e2338;
    color: #fff;
    list-style-type: none;
    transition: 0.5;
}

.messages{
    -webkit-animation: cssAnimation 50s forwards; 
    animation: cssAnimation 50s forwards;
}

.success{
    color: rgb(16, 180, 16); 

}
.info{
    color: rgb(20, 95, 145);
}
.error{
    color: rgb(184, 33, 33);
}

@keyframes cssAnimation {
    to{
        width:0px;
        height:0px;
        margin-left: -1000px;
        overflow: hidden;
        visibility:hidden;
    }
    
}

.update-profile{
    text-align: left;
    margin-top: -30px;
    margin-left: -20px;
}
.update-profile button{
    background-color: #1b344d;
    border: none;
    padding: 5px 15px 5px 15px;
    width: 30%;
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.5s;
}

.update-profile  button:hover{
    background-color: #31495f;
    border-radius: 5px;
    transition: 0.5s;
}

.add-profile{
    text-align: center;
    
}
.add-profile button{
    background-color: #1b344d;
    border: none;
    padding: 5px 15px 5px 15px;
    width: 26%;
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.5s;
}

.add-profile button:hover{
    background-color: #31495f;
    border-radius: 5px;
    transition: 0.5s;
}

.bottom-skill{
    margin-bottom: 35px;
}

.pic div.social-media img{
    background: none;
    border: none;
    border-radius: 5px;
}

.delete-profile{
    text-align: left;
    width: 400px;
}

.delete-ink{
    color: #c04141;
}

.delete-ink:hover{
    color: #e24b4b;
}

.bottom-delete{
    background-color: #112435;
    color: brown;
    border: none;
    padding: 5px 15px 5px 15px;
    width: 150px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.5s;
}

.bottom-delete:hover{
    background-color: #31495f;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
}

.container li a{
    font-size: 12px;
}

.delete-form{
    border-radius: 15px;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 20%;
    text-align: center;
    background-color: #17314d;
    padding: 10px 15px;
    font-size: 20px;
    color: #bd5959;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.5s;
}

.delete-form input{
    background-color: #31495f;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    margin-right: 10px;
    transition: 0.5s;
}

.delete-form:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: 0.5s;
}

.delete-form input:hover{
    background-color: #2e4a70;
    color: #f06868;
    transition: 0.5s;
}

.error-404{
    color: red;
    width: 100%;
    height: 80%;
    margin: auto;
    text-align: center;
    

}

.error-404 img{
    width: 40%;
    margin-top: -60px;
}

.error-404 h2{
    margin-top: -30px;
}

.searchbar-p{
    display: flex;
    background-color: #1b314c;
    border-radius: 1rem;
}

.searchbar-p input{
    border: none;
    background-color: #1b314c;
}

.active-page{
    color: #fff;
    text-shadow: 2px 3px solid #fff;
}

.comment-essay{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 100%));
    background-color: #1b344d;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    width: 70%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 6px 0px, rgba(0, 0, 0, 0.1) 0px 8px 8px 0px, rgba(0, 0, 0, 0.1) 0px 16px 16px 0px, rgba(0, 0, 0, 0.15) 8px 32px 32px 0px, rgba(0, 0, 0, 0.15) 8px 64px 64px 0px;
    transition: 0.5s;
}

.comment-essay:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.5s;
}

.comment-essay h3{
    margin-top: 40px;
    margin-left: -40px;
    color: cadetblue;

}

.comment-essay p{
    margin-top: 45px;
    width: 570px;
    text-align: left;
    word-wrap: break-word;
}

.avatar-commit{
    object-fit: cover;
    max-width: 100%;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.img-ted img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.label-comment{
    text-align: left;
    color: #fff;
}

.comment-vote{
    border: none;
    background-color: #1b314c;
    color: #fff;
    padding: 10px 15px;
}

.new-message{
    text-align: center;
}

.no-message{
    border: 2px solid red;
    background-color: #2e4a70;
    margin: auto;
    text-align: center;
}

.message-box{
    background-color: #1b344d;
    border-radius: 15px;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.5s;
}

.message-box:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: 0.5s;
}

.message-box h1{
    text-align: center;
}

.message-box h3{
    font-size: 12px;
}

.message-box p{
    font-size: 18px;
}

.message-box hr{
    width: 100%;
    height: 5px;
    text-align: center;
    color: #2e4a70;
}

.message-box h6{
    text-align: center;
}

.anonymous-message{
    color: #e85700;
    width: 200px;
    height: 30px;
    position: absolute;
    text-align: center;
    margin-left: 26%;
    margin-top: -25px;
    background-color: #0e2338;
    border: none;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.back-button{
    border: none;
    border-radius: 50%;
    background-color: #0e2338;
    color: #516076;
    padding: 10px 20px;
    margin-left: -15px;
    margin-top: -15px;
    display: flex;
    text-align: center;
    font-size: 20px;
    transition: 2.5s;
}

.back-button:hover{
    background-color: #3b82f6;
    color: #0e2338;
    transition: 2.5s;
}