.ted{
    color: wheat;
}

.navbar{
    position:inherit;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: auto;
    padding: 2%;
    text-align: left;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #0e2338;
    color: #fff;
    border-radius: 1rem;
}

.top-nav{
    top: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 2%;
    display: inline-block;
}

.logo{
    display: inline-flex;
    margin-right: 60%;
    font-size: 25px;
}

.a-color{
    color: rgb(236, 236, 222);
}

.a-color:hover{
    color:#27629e;
    text-decoration:line-through;
    transition: 0.5s;
}

.tedo{
    color: #A52A2A;
}

.ra{
    color: #986868;
}

/* Menu */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.search-bar{
    position: absolute;
    margin-left: 25%;
    top: 8%;
}

.search-form{
    width: 500px;
}

.input-text{
    background-color: #1b314c;
    color: #FFF;
    width: 300px;
    border-radius: 1rem;
    border: none;
    text-align: center;
    height: 30px;
}



/* TODO - Responsive | For when l learn JavaScript */

@media screen and (max-width: 360px) {
    /* for phone */ 
}

@media screen and (max-width: 805px) {
    /* for ipad */
}

@media screen and (max-width: 1400px) {
    /* for Desktop */

}