{% load static %}

{% load django_hide %}

<link rel="stylesheet" href="{% static 'style/main.css' %}">
<link rel="stylesheet" href="{% static 'style/navbar.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<div class='ted'>
    <nav class="navbar">

        <div class='logo'>
            <a href="{% url 'index' %}"><b class='tedo'>Tedo</b><b class='ra'>ra</b></a>
        </div>

        <div class='top-nav'>
            <a href="{% url 'index' %}" class='a-color' >Home</a>
        </div>
        
        <div class='top-nav'>
            <a href="#" class='a-color'>Developer</a>
        </div>

        <div class='top-nav'>
            <a href="{% url 'essay' %}" class='a-color'>Essay</a>
        </div>

        <div class='top-nav'>
            <a href="#" class='a-color'>Login</a>
        </div>
    </nav>
</div>
