{% load static %}

{% load django_hide %}

<link rel="stylesheet" href="{% static 'style/main.css' %}">
<link rel="stylesheet" href="{% static 'style/navbar.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="{% static 'style/form.css' %}">

<div class='ted'>
    <nav class="navbar">

        <div class='logo'>
            <div class='text-logo'>
                <a href="{% url 'index' %}"><b class='tedo'>Tedo</b><b class='ra'>ra</b></a>
            </div>
            
        </div>

        <div class='search-bar'>
            <form  class='search-form' action='{% url 'index' %}' method='get'>
                <input class='input-text' type='text' name='essay' placeholder='Search by ...' >
            </form>
        </div>
        
        {% if request.user.is_authenticated %}
            <div class='top-nav'>
                <a href="{% url 'index' %}" class='a-color' >Home</a>
            </div>
            
            <div class='top-nav'>
                <a href="{% url 'user' %}" class='a-color'>Users</a>
            </div>

            <div class='top-nav'>
                <a href="{% url 'essay' %}" class='a-color'>Essay</a>
            </div>

            <div class='top-nav'>
                <a href="#" class='a-color'>Inbox</a>
            </div>

            <div class='top-nav'>
                <a href="{% url 'logout' %}" class='a-color'>Logout</a>
            </div>
        {% else %}
            <div class='top-nav'>
                <a href="{% url 'index' %}" class='a-color top-login' >Home</a>
            </div>
            
            <div class='top-nav'>
                <a href="{% url 'user' %}" class='a-color'>Users</a>
            </div>

            <div class='top-nav'>
                <a href="{% url 'login' %}" class='a-color'>Login</a>
            </div>
        {% endif %}
    
    </nav>
</div>
