{% load static %}

{% load django_hide %}

<link rel="stylesheet" href="{% static 'style/main.css' %}">
<link rel="stylesheet" href="{% static 'style/navbar.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="{% static 'style/form.css' %}">

<div class='ted'>
    <nav class="navbar">
        
        <ul id='ul-nav'>
            <li>
                <div class='logo'>
                    <div class='text-logo'>
                        <a href="{% url 'index' %}"><b class='tedo'>Lino</b><b class='ra'>rix</b></a>
                    </div>  
                </div>
            </li>

            <li class='li-nav' style="grid-column: 2 / 5;">
                <form action='{% url 'index'%}#essay' method='get' class='searchbar-p'>
                    <button type="submit" style='color: #fff;background-color: #1b314c;border: none;width: 30px;margin-right: 10px;'>
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" style='margin-bottom: -3px;' class='search-logo'>
                            <circle cx="7.82495" cy="7.82492" r="6.74142" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
                            <path d="M12.5137 12.8638L15.1568 15.4999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>
                    <input class='input-text' type='text' name='search' value='{{searchbar}}' placeholder='what are you looking for ?' >
                </form>
            </li>
            
            {% if request.user.is_authenticated %}
                <li class='li-nav-width'><a href="{% url 'index' %}">Home</a></li>
                <li class='li-nav-width'><a href="{% url 'account' %}">Account</a></li>
                <li class='li-nav-width'><a href="{% url 'essay' %}">Essay</a></li>
                <li class='li-nav-width'><a href="#">Inbox</a></li>
                <li class='li-nav-width'><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class='li-nav-width'style="grid-column: 6 / 7;"><a href="{% url 'index' %}">Home</a></li>
                <li class='li-nav-width'><a href="{% url 'user' %}">User</a></li>
                <li class='li-nav-width'><a href="#">About</a></li>
                <li class='li-nav-width'><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
    
    </nav>
</div>
